# PostgreSQL
POSTGRES_DB=ReUseDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432

# Backend
ASPNETCORE_ENVIRONMENT=Development
DB_HOST=postgres
DB_PORT=5432

# JWT
JWT_KEY=NdYrGgZpfEWHD86idwwBFrQlf95wIK0VJwxbHgS0i9M

# Frontend
VITE_API_URL=http://localhost:5000


ADMIN__FULLNAME="Omar Goher"
ADMIN__USERNAME="omargoher"
ADMIN__EMAIL="omargoher59@gmail.com"
ADMIN__PASSWORD="Admin@123"



EMAILSETTINGS__USERNAME=omargoher59@gmail.com
EMAILSETTINGS__PASSWORD="ptzl dkzs ejxj ggvh"