# PostgreSQL
POSTGRES_DB=ReUseDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5433

# PGAdmin
PGADMIN_EMAIL: admin@admin.com
PGADMIN_PASSWORD: admin

# Frontend
VITE_API_BASE_URL=http://localhost:5000/api

# Backend
ASPNETCORE_ENVIRONMENT=Development
DB_HOST=postgres
DB_PORT=5432

# JWT
JWT_ISSUER=ReUse
JWT_AUDIENCE=Web
JWT_LIFETIME=30
JWT_KEY=NdYrGgZpfEWHD86idwwBFrQlf95wIK0VJwxbHgS0i9M

# RefreshToken
RT_LIFETIME=15


ADMIN__FULLNAME="Omar Goher"
ADMIN__USERNAME="omargoher"
ADMIN__EMAIL="omargoher59@gmail.com"
ADMIN__PASSWORD="Admin@123"

EMAILSETTINGS__HOST=smtp.gmail.com
EMAILSETTINGS__PORT=587
EMAILSETTINGS__FROM=
EMAILSETTINGS__USERNAME=
EMAILSETTINGS__PASSWORD=""

CLOUDINARY__CLOUDNAME=
CLOUDINARY__APIKEY=
CLOUDINARY__APISECRET=

PAYMOB__PUBLICKEY=
PAYMOB__SECRETKEY=
PAYMOB__HMAC=
PAYMOB__CARD_INTEGRATION_ID=
PAYMOB__CALLBACK_URL=
